a,
a:focus,
a:hover,
a:visited,
a:link,
a:active {
  text-decoration: none;
  text-decoration-color: none;
}
.dpLink {
  fill: black !important;
  text-decoration: none !important;
  text-decoration-color: none !important;
  color: black !important;
}